<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Grenoble Swing</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('gs_etran_index_config') }}">Grenoble Swing</a>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>

            <div class="row">
                <div id="content" class="col-md-12">
                    {% block gs_etransaction_body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>Copyright &copy; {{ "now"|date("Y") }} Grenoble Swing</p>
            </footer>
        </div>

        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

        {% javascripts filter='?jsqueeze'
            '@GSETransactionBundle/Resources/public/js/*'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            jQuery(document).ready(function() {
                $('.parent-collection').collection({
                    min: 1,
                    prefix: 'parent',
                    children: [{
                        selector: '.child-collection'
                    }]
                });
            });
        </script>
    </body>
</html>
