{% extends "GSETransactionBundle::layout.html.twig" %}

{% block gs_etransaction_body %}
    {{ parent() }}

    <h2>Editer une config</h2>

    {{ include("GSETransactionBundle:Config:form.html.twig") }}

{% endblock %}
